<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="page-wrapper">
		<!-- Page Top Bar Area -->
		<div th:replace="fragments/header :: header"></div>
		<div class="layout-container-area mt-70">
			<!-- Side Menu Area -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- Layout Container -->
			<div class="layout-container sidemenu-container">
				<div class="container-fluid">
					<div class="row ">

						<div class="col-md mb-4">
							<!-- Card Body -->
							<div class="card-body bg-white appwork bg-boxshadow-2">
								<h5 class="card-title">Editar Cuenta Comercial</h5>

								<div class="clearfix"></div>
								<hr>

								<form class="user" th:action="@{/cuentas/crear}"
									th:object="${cuenta}" method="post">
									<div class="row">
										<div class="form-group col-md-4">
											<label for="company">Razón Social*</label> <input type="text"
												th:field="*{razonSocial}" class="form-control form-control-user">
										</div>
										
										<div class="form-group col-md-4">
											<label for="company">RFC</label> 
											<input type="text"
												th:field="*{rfc}"
												class="form-control form-control-user">
										</div>
										
										<div class="form-group col-md-4">
											<label for="company">Dirección</label> 
											<input type="text"
												th:field="*{direccion}"
												class="form-control form-control-user">
										</div>
										
										<div class="form-group col-md-4">
											<label for="company">Código Postal</label> 
											<input type="text"
												th:field="*{codigoPostal}"
												class="form-control form-control-user">
										</div>
										
										<div class="form-group col-md-4">
											<label for="company">País</label> 
											<input type="text"
												th:field="*{pais}"
												class="form-control form-control-user">
										</div>
										
										<div class="form-group col-md-4">
											<label for="company">Correo Electrónico</label> 
											<input type="text"
												th:field="*{email}"
												class="form-control form-control-user">
										</div>
									</div>

									<hr>
									<div class="clearfix"></div>
									<div class="row">
										<div class="col-sm-12">
											<button type="submit"
												class="btn btn-primary btn-square float-right">Editar Cuenta</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>

				</div>


			</div>

		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>