<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="page-wrapper">
		<!-- Page Top Bar Area -->
		<div th:replace="fragments/header :: header"></div>
		<div class="layout-container-area mt-70">
			<!-- Side Menu Area -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- Layout Container -->
			<div class="layout-container sidemenu-container">
				<div class="container-fluid">
					<div class="row ">

						<div class="col-md mb-4">
							<!-- Card Body -->
							<div class="card-body bg-white appwork bg-boxshadow-2">
							<div th:replace="fragments/navbar :: div-messages"></div>
								<h5 class="card-title">Cuentas Comerciales</h5>
								<div class="card-subtitle text-muted">Lista de
									cuentas comerciales</div>

								<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
									th:href="@{/cuentas/crear}"
									class="btn btn-square btn-primary btn-sm"><i
									class="fas fa-user-plus"></i> Nuevo Cuenta</a>

								<div class="clearfix"></div>
								<hr>

								<div class="row">
									<table class="table table-bordered" id="dataTable">
										<thead>
											<tr>
												<th>Opciones</th>
												<th>Razón social</th>
												<th>RFC</th>
												<th>Dirección</th>
												<th>Código Postal</th>
												<th>País</th>
												<th>Email</th>
												<th>Fecha Alta</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="cuenta : ${cuenta}">
												<td>
												<div class="dropdown">
														<button class="btn btn-info btn-xs dropdown-toggle"
															type="button" id="dropdownMenuButton"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false">
															<i class="fas fa-stream"></i>
														</button>
														<div class="dropdown-menu animated--fade-in"
															aria-labelledby="dropdownMenuButton">
																														
															<a class="dropdown-item"
																th:href="@{/cuentas/editar/} + ${cuenta.id}"
																th:text="'Editar'"> </a> 

															<a class="dropdown-item border-top text-danger"
																th:href="@{/cuentas/eliminar/} + ${cuenta.id}"
																th:text="'Borrar'"
																onclick="return confirm('¿Estás seguro de que deseas borrar el registro?')"></a>
														</div>
													</div>	
												</td>
												<td th:text="${cuenta.razonSocial}"></td>
												<td th:text="${cuenta.rfc}"></td>
												<td th:text="${cuenta.direccion}"></td>
												<td th:text="${cuenta.codigoPostal}"></td>
												<td th:text="${cuenta.pais}"></td>
												<td th:text="${cuenta.email}"></td>
												<td th:text="${cuenta.fechaAlta}"></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>
						</div>

					</div>

				</div>


			</div>

		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>