<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="utf-8" />
<head>
</head>
<body>
	<div
		class="page-top-bar-area d-flex align-items-center justify-content-between"
		th:fragment="header">

		<!-- Logo Trigger Area -->
		<div class="logo-trigger-area d-flex align-items-center">

			<!-- logo -->
			<a href="/home" class="logo"> <span class="big-logo"> <img
					th:src="@{/img/logos/logo.png}" alt="">
			</span> <span class="small-logo"> <img th:src="@{/img/logos/logo.png}"
					alt="">
			</span>
			</a>

			<!-- Trigger -->
			<div class="top-trigger">
				<span></span> <span></span> <span></span>
			</div>
		</div>

		<!-- User Meta -->
		<div class="user-meta-data d-flex align-items-center">

			<!-- Profile -->
			<div class="topbar-profile">
				<!-- Thumb -->
				<div class="user---thumb">
					<img th:src="@{/img/header/user.png}" alt="">
				</div>
				<!-- Profile Data -->
				<div class="profile-data">
					<!-- Profile User Details -->
					<div class="profile-user--details"
						style="background-image: url(/img/header/banner.jpeg);">
						<!-- Thumb -->
						<div class="profile---thumb-det">
							<img th:src="@{/img/header/user.png}" alt="">
						</div>
						<!-- Profile Text -->
						<div class="profile---text-details">
							<h6><span sec:authentication="name"></span></h6>
						</div>
					</div>

					<!-- Profile List Data -->
					<a class="profile-list--data"
						href="https://soporte.gisconsultoria.com" target="_blank"> <!-- Profile icon -->
						<div class="profile--list-icon">
							<i class="fa fa-life-ring" aria-hidden="true"></i>
						</div> <!-- Profile Text -->
						<div class="notification--list-body-text profile">
							<h6>Soporte</h6>
						</div>
					</a>

					<!-- Profile List Data -->
					<a class="profile-list--data"
						th:href="@{/usuarios/password}"> <!-- Profile icon -->
						<div class="profile--list-icon">
							<i class="fa fa-key" aria-hidden="true"></i>
						</div> <!-- Profile Text -->
						<div class="notification--list-body-text profile">
							<h6>Cambiar contraseña</h6>
						</div>
					</a>

					<!-- Profile List Data -->
					<form id="logoutform" th:action="@{/logout}" method="post">
						<a class="profile-list--data" href="#"
							onclick="document.getElementById('logoutform').submit();"
							> 
							<!-- Profile icon -->
							<div class="profile--list-icon">
								<i class="fas fa-sign-out-alt text-danger" aria-hidden="true"></i>
							</div> <!-- Profile Text -->
							<div class="notification--list-body-text profile">
								<h6>Cerrar sesión</h6>
							</div>
						</a> <input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>