<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="utf-8" />
<head>
</head>

<body>
	<!-- Sidebar -->
	<div class="sidebar wrap" th:fragment="sidebar">
		<nav class="sidebar-nav">
			<ul class="nav">
				<li class="nav-item"><a class="nav-link" href="index.html">
						<i class="nav-icon fas fa-home"></i> Home
				</a></li>

				<li class="nav-title">Sistema</li>

				<li sec:authorize="hasRole('ROLE_ADMIN')"
					class="nav-item nav-dropdown"><a
					class="nav-link nav-dropdown-toggle" href="#"> <i
						class="nav-icon fas fa-tools"></i> Config
				</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/usuarios/ver}"> <i class="nav-icon icon-puzzle"></i>
								Usuarios
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/perfiles/ver}"> <i class="nav-icon icon-puzzle"></i>
								Perfiles
						</a></li>
					</ul></li>


				<li class="nav-title">Administración</li>

				<li sec:authorize="hasRole('ROLE_ADMIN')"
					class="nav-item nav-dropdown"><a
					class="nav-link nav-dropdown-toggle" href="#"> <i
						class="nav-icon fas fa-cogs"></i> Catálogos
				</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/afiliados/ver}"> <i class="nav-icon"></i>
								Afiliados
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/cuentas/ver}"> <i class="nav-icon"></i> Cuentas
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/membresias/ver}"> <i class="nav-icon"></i>
								Membresias
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/promotores/ver}"> <i class="nav-icon"></i>
								Promotores
						</a></li>
					</ul></li>


				<li class="nav-title">Operación</li>

				<li sec:authorize="hasRole('ROLE_ADMIN')"
					class="nav-item nav-dropdown"><a
					class="nav-link nav-dropdown-toggle" href="#"> <i
						class="nav-icon fas fa-user-md"></i> Portal de Consultas
				</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/afiliados/ver}"> <i class="nav-icon"></i>
							Citas
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/afiliados/ver}"> <i class="nav-icon"></i>
								Seguimiento
						</a></li>
					</ul></li>

				<li class="nav-title">Reportes</li>

				<li sec:authorize="hasRole('ROLE_ADMIN')"
					class="nav-item nav-dropdown"><a
					class="nav-link nav-dropdown-toggle" href="#"> <i
						class="nav-icon fas fa-tools"></i> Afiliados
				</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/afiliados/ver}"> <i class="nav-icon"></i>
								Pendiente
						</a></li>
					</ul></li>
			</ul>
		</nav>
		<button class="sidebar-minimizer brand-minimizer" type="button"></button>
	</div>
</body>
</html>