<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="utf-8" />
<head>
</head>

<body>
	<!-- Sidebar -->
	<div class="side-menu-area" th:fragment="sidebar">

		<div class="classy-nav-container breakpoint-off" sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_USUARIO')">
			<!-- Classy Menu -->
			<nav class="classy-navbar justify-content-between" id="classyNav">

				<!-- Navbar Toggler -->
				<div class="classy-navbar-toggler">
					<span class="navbarToggler"><span></span><span></span><span></span></span>
				</div>

				<!-- Menu -->
				<div class="classy-menu">
					<!-- close btn -->
					<div class="classycloseIcon">
						<div class="cross-wrap">
							<span class="top"></span><span class="bottom"></span>
						</div>
					</div>

					<!-- Nav Start -->
					<div class="classynav">
						<ul>
							<li><a th:href="@{/home}"><i class="fas fa-columns"></i>
									Dashboard</a></li>

<!--							<li><a th:href="@{/#}"><i class="fas fa-hands-helping"></i>-->
<!--									Centro de Asistencia</a></li>-->

							<!--  <li><a th:href="@{/afiliados/ver}"><i class="fas fa-user"></i>
									Afiliados</a></li>-->

							<!--  <li><a th:href="@{/candidatos/ver}"><i class="fas fa-user-plus"></i>
									Candidatos</a></li>-->
									
							<li><a href="#"><i class="fas fa-book"></i> Catálogo Afiliado</a>
								<ul class="dropdown">
											<li><a th:href="@{/afiliados/activos}">- Afiliados Activos</a></li>
											<li><a th:href="@{/afiliados/ver}">- Afiliados Totales</a></li>
											<li><a th:href="@{/afiliados/vencidos}">- Afiliados Vencidos </a></li>
											<li><a th:href="@{/candidatos/ver}">- Candidatos </a></li>
										
								</ul></li>

							<li><a href="#"><i class="fas fa-book"></i> Catálogos</a>
								<ul class="dropdown">
									<li><a href="#">- Prosesol</a>
										<ul class="dropdown">
											<li><a th:href="@{/servicios/ver}">- Servicios</a></li>
											<li><a th:href="@{/beneficios/ver}">- Beneficios</a></li>
											<li><a th:href="@{/periodicidades/ver}">- Periodos</a></li>
										</ul></li>
									<li><a href="#">- Equipo</a>
										<ul class="dropdown">
											<li><a th:href="@{/centros/ver}">- Centros de Asistencia</a></li>
											<li><a th:href="@{/cuentas/ver}">- Cuentas Comerciales</a></li>
											<li><a th:href="@{/promotores/ver}">- Promotores</a></li>
										</ul></li>
									<li><a href="#">- Accesos</a>
										<ul class="dropdown">
											<li><a th:href="@{/perfiles/ver}">- Perfiles</a></li>
											<li><a th:href="@{/usuarios/ver}">- Usuarios</a></li>
										</ul></li>
								</ul></li>

							<li><a href="#"><i class="fas fa-file-import"></i>
									Operaciones</a>
								<ul class="dropdown">
									<li><a href="#">- Carga Masiva</a>
										<ul class="dropdown">
											<li><a th:href="@{/cargaMasiva/afiliados}">Afiliados</a></li>
											<li><a th:href="@{/cargaMasiva/vigor}">Vigor</a></li>
										</ul>
									</li>
									<li><a href="#">- Pagos</a>
										<ul class="dropdown">
											<li><a th:href="@{/pagos/realizados}">Realizados</a></li>
											<li><a th:href="@{/pagos/pendientes}">Pendientes</a></li>
										</ul>
									</li>
									<li><a href="#">- Conciliación</a>
										<ul class="dropdown">
											<li><a th:href="@{/conciliacion/afiliados}">Afiliados</a></li>
										</ul>
									</li>
								</ul>
							</li>

							<li><a href="#"><i class="fas fa-scroll"></i> Reportes</a>
								<ul class="dropdown">
									<li><a href="#">Por definir</a></li>
								</ul></li>
						</ul>
					</div>
					<!-- Nav End -->
				</div>
			</nav>
		</div>
		
		
		<div class="classy-nav-container breakpoint-off" sec:authorize="hasRole('ROLE_ASISTENCIA')">
			<!-- Classy Menu -->
			<nav class="classy-navbar justify-content-between" id="classyNav">

				<!-- Navbar Toggler -->
				<div class="classy-navbar-toggler">
					<span class="navbarToggler"><span></span><span></span><span></span></span>
				</div>

				<!-- Menu -->
				<div class="classy-menu">
					<!-- close btn -->
					<div class="classycloseIcon">
						<div class="cross-wrap">
							<span class="top"></span><span class="bottom"></span>
						</div>
					</div>

					<!-- Nav Start -->
					<div class="classynav">
						<ul>
							<li><a th:href="@{/home}"><i class="fas fa-columns"></i>
									Dashboard</a></li>

							<li><a th:href="@{/incidencias/ver}"><i class="fas fa-hands-helping"></i>
									Centro de Asistencia</a></li>
						</ul>
					</div>
					<!-- Nav End -->
				</div>
			</nav>
		</div>

		<div class="classy-nav-container breakpoint-off" sec:authorize="hasRole('ROLE_PROMOTOR')">
			<!-- Classy Menu -->
			<nav class="classy-navbar justify-content-between" id="classyNav">

				<!-- Navbar Toggler -->
				<div class="classy-navbar-toggler">
					<span class="navbarToggler"><span></span><span></span><span></span></span>
				</div>

				<!-- Menu -->
				<div class="classy-menu">
					<!-- close btn -->
					<div class="classycloseIcon">
						<div class="cross-wrap">
							<span class="top"></span><span class="bottom"></span>
						</div>
					</div>

					<!-- Nav Start -->
					<div class="classynav">
						<ul>
							<li><a th:href="@{/home}"><i class="fas fa-columns"></i>
								Dashboard</a></li>

							<li><a th:href="@{/moneygram/crear}"><i class="fas fa-hands-helping"></i>
								Crear afiliado</a></li>
						</ul>
					</div>
					<!-- Nav End -->
				</div>
			</nav>
		</div>
		
	</div>
	
	

	<div class="sidebar wrap">
		<nav class="sidebar-nav">
			<ul class="nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}"> <i
						class="nav-icon fas fa-home"></i> Home
				</a></li>

				<li class="nav-title"
					sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_USUARIO')">Sistema</li>

				<li
					sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_USUARIO')"
					class="nav-item nav-dropdown"><a
					class="nav-link nav-dropdown-toggle"> <i
						class="nav-icon fas fa-tools"></i> Config
				</a>
					<ul class="nav-dropdown-items"
						sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_USUARIO')">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/usuarios/ver}"> <i class="nav-icon icon-puzzle"></i>
								Usuarios
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/perfiles/ver}"> <i class="nav-icon icon-puzzle"></i>
								Perfiles
						</a></li>
					</ul></li>


				<li class="nav-title"
					sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_USUARIO')">Administración</li>

				<li
					sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_USUARIO')"
					class="nav-item nav-dropdown"><a
					class="nav-link nav-dropdown-toggle"> <i
						class="nav-icon fas fa-cogs"></i> Catálogos
				</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/afiliados/ver}"> <i class="nav-icon"></i>
								Afiliados
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/cuentas/ver}"> <i class="nav-icon"></i> Cuentas
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/servicios/ver}"> <i class="nav-icon"></i>
								Servicios
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/promotores/ver}"> <i class="nav-icon"></i>
								Promotores
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/periodicidades/ver}"> <i class="nav-icon"></i>
								Periodos
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/beneficios/ver}"> <i class="nav-icon"></i>
								Beneficios
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/centros/ver}"> <i class="nav-icon"></i> Centros
								de Asistencia
						</a></li>
					</ul></li>


				<li class="nav-title">Operación</li>

				<li
					sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_USUARIO')"
					class="nav-item nav-dropdown"><a
					class="nav-link nav-dropdown-toggle"> <i
						class="nav-icon fas fa-user-md"></i> Carga Masiva
				</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/cargaMasiva/afiliados}"> <i class="nav-icon"></i>
								Afiliados
						</a></li>
					</ul></li>

				<li sec:authorize="hasRole('ROLE_ASISTENCIA')"
					class="nav-item nav-dropdown"><a
					class="nav-link nav-dropdown-toggle"> <i
						class="nav-icon fas fa-user-md"></i> Portal de Incidencias
				</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/incidencias/buscar}"> <i class="nav-icon"></i>
								Nueva Incidencia
						</a></li>
						<li class="nav-item"><a class="nav-link" href="#"> <i
								class="nav-icon"></i> Seguimiento
						</a></li>
					</ul></li>

				<li class="nav-title"
					sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_USUARIO')">Reportes</li>

				<li
					sec:authorize="hasRole('ROLE_ADMINISTRADOR') or hasRole('ROLE_USUARIO')"
					class="nav-item nav-dropdown"><a
					class="nav-link nav-dropdown-toggle"> <i
						class="nav-icon fas fa-tools"></i> Afiliados
				</a>
					<ul class="nav-dropdown-items">
						<li class="nav-item"><a class="nav-link" href="#"> <i
								class="nav-icon"></i> Pendiente
						</a></li>
					</ul></li>
			</ul>
		</nav>
		<button class="sidebar-minimizer brand-minimizer" type="button"></button>
	</div>
</body>
</html>