<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
	<header th:replace="fragments/header :: header"></header>
	<div class="app-body">
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<main class="main">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item"><a th:href="@{/}">Formatos de
					correo</a></li>
			<li class="breadcrumb-item active">Crear</li>
		</ol>

		<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">Nuevo Correo</div>
							<div class="card-body">
								<p>Capture la información necesaria para crear un nuevo
									formato de correo</p>
								<div class="clearfix"></div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<form class="user" th:action="@{/correos/crear}" th:object="${correo}" 
										      method="post">
											<div class="row">
												<div class="form-group col-md-3">
													<label for="company">Afiliado</label> <select
														name="afiliado" th:field="${variablesAfiliado}"
														class="custom-select" id="selectAfiliado">
														<option th:each="variable, status : ${variablesAfiliado}"
															th:if="${not status.first}"															
															th:value="${variable}"
															th:text="${variable}"
															th:selected="false" />
													</select>
												</div>
												<div class="form-group col-md-3">
													<label for="company">Servicio</label> <select
														name="afiliado" th:field="${variablesServicio}"
														class="custom-select" id="selectServicio">
														<option th:each="variable, status : ${variablesServicio}"
															th:if="${not status.first}"
															th:value="${variable}" th:text="${variable}"
															th:selected="false" />
													</select>
												</div>
												<div class="form-group col-md-3">
													<label for="company">Promotor</label> <select
														name="afiliado" th:field="${variablesPromotor}"
														class="custom-select" id="selectPromotor">
														<option th:each="variable, status : ${variablesPromotor}"
															th:if="${not status.first}"
															th:value="${variable}" th:text="${variable}"
															th:selected="false" />
													</select>
												</div>
												<div class="form-group col-md-3">
													<label for="company">Cuenta</label> <select
														name="afiliado" th:field="${variablesCuenta}"
														class="custom-select" id="selectCuenta">
														<option th:each="variable, status : ${variablesCuenta}"
															th:if="${not status.first}"
															th:value="${variable}" th:text="${variable}"
															th:selected="false" />
													</select>
												</div>
												<div class="form-group col-md-3">
													<label for="company">Periodo</label> <select
														name="afiliado" th:field="${variablesPeriodo}"
														class="custom-select" id="selectPeriodo">
														<option th:each="variable, status : ${variablesPeriodo}"
															th:if="${not status.first}"
															th:value="${variable}" th:text="${variable}"
															th:selected="false" />
													</select>
												</div>	
												<div class="form-group col-md-3">
													<label for="company">Tipo de correo</label> <select
														th:field="*{tipoCorreo}" class="custom-select"
														id="inputGroupSelect01">
														<option th:value="'inscripcion'" th:selected>Inscripción</option>
														<option th:value="'suspension'">Suspensión</option>
														<option th:value="'aviso'">Aviso</option>														
													</select><small class="form-text text-danger"
														th:if="${#fields.hasErrors('tipoCorreo')}"
														th:errors="*{tipoCorreo}"></small>
												</div>											
											</div>
											<textarea class="tinyemc" th:field="*{html}"
													id="texteditor"></textarea>
											<hr>
											<div class="clearfix"></div>
											<div class="row">
												<div class="col-sm-12">
													<button type="submit"
														class="btn btn-primary btn-square float-right">Crear
														Formato</button>
												</div>
											</div>
										</form>
										<div id="data-container"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>