<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8"/>
<body>
<div class="page-wrapper">
    <!-- Page Top Bar Area -->
    <div th:replace="fragments/header :: header"></div>
    <div class="layout-container-area mt-70">
        <!-- Side Menu Area -->
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- Layout Container -->
        <div class="layout-container sidemenu-container">
            <div class="container-fluid">
                <div class="row ">

                    <div class="col-md mb-4">
                        <!-- Card Body -->
                        <div class="card-body bg-white appwork bg-boxshadow-2">
                            <h5 class="card-title">Carga Masiva de Afiliados</h5>

                            <div class="clearfix"></div>
                            <hr>
                            <form th:action="@{/cargaMasiva/upload}" method="post"
                                  enctype="multipart/form-data">
                                <b>1.- Descargue la <a th:href="@{/cargaMasiva/templateXlsx}">plantilla</a> para
                                    realizar la carga masiva de Afiliados</b>
                                <br>
                                <b>2.- Cargue la plantilla con los datos del afiliado que desee guardar en el
                                    sistema </b>
                                <div>
                                    <input type="file" name="file"/>
                                </div>
                                <hr>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-square float-right">Cargar
                                            Archivo
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>