<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
	<header th:replace="fragments/header :: header"></header>
	<div class="app-body">
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<main class="main">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item"><a th:href="@{/afiliados/ver}">Afiliados</a></li>
			<li class="breadcrumb-item active">Crear</li>
		</ol>

		<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">Nuevo Afiliado</div>
							<div class="card-body">
								<p>Captura la información solicitada para dar de alta un
									nuevo Afiliado</p>
								<div class="clearfix"></div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<form class="user" th:action="@{/afiliados/crear}"
											th:object="${afiliado}" method="post">
											<div class="row">
												<div class="form-group col-md-3">
													<label for="company">Nombre</label> <input type="text"
														th:field="*{nombre}"
														class="form-control form-control-user"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('nombre')}"
														th:errors="*{nombre}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Apellido Paterno</label> <input
														type="text" th:field="*{apellidoPaterno}"
														class="form-control form-control-user"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('nombre')}"
														th:errors="*{nombre}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Apelido Materno</label> <input
														type="text" th:field="*{apellidoMaterno}"
														class="form-control form-control-user"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('apellidoMaterno')}"
														th:errors="*{apellidoMaterno}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Fecha de Nacimiento</label> <input
														type="text" th:field="*{fechaNacimiento}"
														class="form-control form-control-user" id="fechaNacimiento"
														placeholder=""> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('fechaNacimiento')}"
														th:errors="*{fechaNacimiento}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Lugar de Nacimiento</label> <input
														type="text" th:field="*{lugarNacimiento}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('lugarNacimiento')}"
														th:errors="*{lugarNacimiento}"></small>
												</div>


												<div class="form-group col-md-3">
													<label for="company">Estado Civil</label> <select
														th:field="*{estadoCivil}" class="custom-select"
														id="inputGroupSelect01">
														<option th:value="'Soltero'" th:selected>Soltero(a)</option>
														<option th:value="'Casado'">Casado(a)</option>
														<option th:value="'Viudo'">Viudo(a)</option>
														<option th:value="'Divorciado'">Divorciado(a)</option>
													</select><small class="form-text text-danger"
														th:if="${#fields.hasErrors('estadoCivil')}"
														th:errors="*{estadoCivil}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Número de dependientes</label><input
														type="text" th:field="*{numeroDependientes}"
														class="form-control form-control-user"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('numeroDependientes')}"
														th:errors="*{numeroDependientes}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Ocupación</label><input type="text"
														th:field="*{ocupacion}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('ocupacion')}"
														th:errors="*{ocupacion}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Sexo</label> <select
														th:field="*{sexo}" class="custom-select"
														id="inputGroupSelect01">
														<option th:value="'Masculino'" th:selected>Masculino</option>
														<option th:value="'Femenino'">Femenino</option>
													</select><small class="form-text text-danger"
														th:if="${#fields.hasErrors('sexo')}"
														th:errors="*{sexo}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">País</label>
													<select	name ="pais" th:field="*{pais}" class="custom-select"
														id="inputGroupSelect01">
														<option th:each="pais : ${paises}"
															    th:value="${pais}"
															    th:text="${pais}"
															    th:selected="${pais.MEX}"/>
													</select>
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('pais')}"
														th:errors="*{pais}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Curp</label><input type="text"
														th:field="*{curp}" class="form-control form-control-user"
														placeholder=""> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('curp')}" th:errors="*{curp}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Número de seguridad social</label><input
														type="text" th:field="*{nss}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('nss')}" th:errors="*{nss}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Registro Federal del
														Contribuyente</label><input type="text" th:field="*{rfc}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('rfc')}" th:errors="*{rfc}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Teléfono Fijo</label><input
														type="text" th:field="*{telefonoFijo}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('telefonoFijo')}"
														th:errors="*{telefonoFijo}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Teléfono móvil</label><input
														type="text" th:field="*{telefonoMovil}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('telefonoMovil')}"
														th:errors="*{telefonoMovil}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Correo electrónico</label><input
														type="email" th:field="*{email}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Dirección</label><input type="text"
														th:field="*{direccion}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('direccion')}"
														th:errors="*{direccion}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Municipio</label><input type="text"
														th:field="*{municipio}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('municipio')}"
														th:errors="*{municipio}"></small>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Entidad Federativa</label> 
													<select	name ="entidadFederativa" th:field="*{entidadFederativa}" class="custom-select"
														id="inputGroupSelect01">
														<option th:each="estado : ${estados}"
															    th:value="${estado}"
															    th:text="${estado}"
															    th:selected="false"/>
													</select><small class="form-text text-danger"
														th:if="${#fields.hasErrors('entidadFederativa')}"
														th:errors="*{entidadFederativa}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Código Postal</label><input
														type="text" th:field="*{codigoPostal}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('codigoPostal')}"
														th:errors="*{codigoPostal}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">¿Cuénta con crédito Infonavit?</label>
													<input type="checkbox" class="form-check-input" id="infonavitCB"/>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Número de Infonavit</label><input
														type="text" th:field="*{numeroInfonavit}" 
														class="form-control form-control-user" id="inputNumeroInfonavit">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('numeroInfonavit')}"
														th:errors="*{numeroInfonavit}"></small>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Servicio</label>
													<select	name ="servicio" th:field="*{servicio}" class="custom-select"
														id="inputGroupSelect01">
														<option th:each="servicio : ${servicios}"
															    th:value="${servicio.id}"
															    th:text="${servicio.nombre}"
															    th:selected="false"/>
													</select>
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('servicio')}"
														th:errors="*{servicio}"></small>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Fecha de Corte</label> 
													<select	name ="corte" th:field="*{corte}" class="custom-select"
														id="inputGroupSelect01">
														<option th:each="corte : ${#numbers.sequence(1, 31)}"
															    th:value="${corte}"
															    th:text="${corte}"
															    th:selected="${corte}"/>
													</select>
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('corte')}"
														th:errors="*{corte}"></small>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Periodos</label>
													<select	name ="periodo" th:field="*{periodicidad}" class="custom-select"
														id="inputGroupSelect01">
														<option th:each="periodo : ${periodos}"
															    th:value="${periodo.id}"
															    th:text="${periodo.nombre}"
															    th:selected="false"/>
													</select>
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('periodicidad')}"
														th:errors="*{periodicidad}"></small>
												</div>

												<div class="form-group col-md-3">
													<label for="company">Comentarios</label><input type="text"
														th:field="*{comentarios}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('comentarios')}"
														th:errors="*{comentarios}"></small>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Promotor</label>
													<select	name ="promotor" th:field="*{promotor}" class="custom-select"
														id="promotores">
														<option th:value="0" selected>Ninguno</option>
														<option th:each="promotor : ${promotores}"
															    th:value="${promotor.id}"
															    th:text="${promotor.nombre}"
															    th:selected="false"/>
													</select>
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('promotor')}"
														th:errors="*{promotor}"></small>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Cuenta</label>
													<select	name ="cuenta" th:field="*{cuenta}" class="custom-select"
														id="cuentas" >				
														<option th:each="cuenta : ${cuentas}"
															    th:value="${cuenta.id}"
															    th:text="${cuenta.razonSocial}"
															    th:selected="false"></option>
													</select>
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('cuenta')}"
														th:errors="*{cuenta}"></small>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Clave de Afiliado</label><input type="text"
														th:field="*{clave}"
														class="form-control form-control-user" placeholder="">
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('clave')}"
														th:errors="*{clave}"></small>
												</div>
											</div>

											<hr>
											<div class="clearfix"></div>
											<div class="row">
												<div class="col-sm-12">
													<button type="submit" class="btn btn-primary btn-square float-right">Crear
														Afiliado</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>