<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="bg-dark">
	<nav th:replace="layout/layout :: nav-bar"></nav>
	<div id="content-wrapper">
		<div class="container-fluid">
			<div class="card card-register mx-auto mt-5">
				<div class="card-header" th:text="${titulo}"></div>
				<div class="card-body">
					<div th:object="${afiliado}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
							role="alert">
							<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
						</ul>
					</div>
					<form th:action="@{/afiliados/crear}" th:object="${afiliado}" method="post">
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{nombre}" class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
										<label class="col-sm-6 col-form-label">Nombre</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{apellidoPaterno}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('apellidoPaterno')}"
											th:errors="*{apellidoPaterno}"></small> <label
											class="col-sm-6 col-form-label">Apellido Paterno</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{apellidoMaterno}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('apellidoMaterno')}"
											th:errors="*{apellidoMaterno}"></small> <label
											class="col-sm-6 col-form-label">Apellido Materno</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{fechaNacimiento}"
											class="form-control" id="datepicker"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('fechaNacimiento')}"
											th:errors="*{fechaNacimiento}"></small> <label
											class="col-sm-6 col-form-label">Fecha de Nacimiento</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{lugarNacimiento}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('lugarNacimiento')}"
											th:errors="*{lugarNacimiento}"></small> <label
											class="col-sm-6 col-form-label">Lugar de Nacimiento</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{estadoCivil}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('estadoCivil')}"
											th:errors="*{estadoCivil}"></small> <label
											class="col-sm-6 col-form-label">Estado Civil</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{regimenMatrimonial}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('regimenMatrimonial')}"
											th:errors="*{regimenMatrimonial}"></small> <label
											class="col-sm-6 col-form-label">Régimen matrimonial</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{numeroDependientes}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('numeroDependientes')}"
											th:errors="*{numeroDependientes}"></small> <label
											class="col-sm-10 col-form-label">Número de
											dependientes</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{ocupacion}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('ocupacion')}"
											th:errors="*{ocupacion}"></small> <label
											class="col-sm-6 col-form-label">Ocupación</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{escolaridad}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('escolaridad')}"
											th:errors="*{escolaridad}"></small> <label
											class="col-sm-6 col-form-label">Escolaridad</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{sexo}" class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></small>
										<label class="col-sm-6 col-form-label">Sexo</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{pais}" class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></small>
										<label class="col-sm-6 col-form-label">País</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{curp}" class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('curp')}" th:errors="*{curp}"></small>
										<label class="col-sm-6 col-form-label">CURP</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{nss}" class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('nss')}" th:errors="*{nss}"></small>
										<label class="col-sm-12 col-form-label">Número de
											Seguridad Social</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{rfc}" class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('rfc')}" th:errors="*{rfc}"></small>
										<label class="col-sm-12 col-form-label">Registro
											Federal del Contribuyente (RFC)</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{telefonoFijo}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('telefonoFijo')}"
											th:errors="*{telefonoFijo}"></small> <label
											class="col-sm-6 col-form-label">Teléfono Fijo</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{telefonoMovil}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('telefonoMovil')}"
											th:errors="*{telefonoMovil}"></small> <label
											class="col-sm-6 col-form-label">Teléfono Móvil</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="email" th:field="*{email}" class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
										<label class="col-sm-6 col-form-label">Correo
											Electrónico</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-12">
									<div class="form-label-group">
										<input type="text" th:field="*{direccion}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('direccion')}"
											th:errors="*{direccion}"></small> <label
											class="col-sm-6 col-form-label">Dirección</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{codigoPostal}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('codigoPostal')}"
											th:errors="*{codigoPostal}"></small> <label
											class="col-sm-6 col-form-label">Código Postal</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{estatusVivienda}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('estatusVivienda')}"
											th:errors="*{estatusVivienda}"></small> <label
											class="col-sm-6 col-form-label">Estatus de Vivienda</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{infonavit}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('infonavit')}"
											th:errors="*{infonavit}"></small> <label
											class="col-sm-12 col-form-label">¿Cuenta con crédito
											Infonavit?</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{numeroInfonavit}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('numeroInfonavit')}"
											th:errors="*{numeroInfonavit}"></small> <label
											class="col-sm-6 col-form-label">Número de Infonavit</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{fechaAlta}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" id="datepicker1" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('fechaAlta')}"
											th:errors="*{fechaAlta}"></small> <label
											class="col-sm-12 col-form-label">Fecha de alta de
											registro</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{fechaPago}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('fechaPago')}"
											th:errors="*{fechaPago}"></small> <label
											class="col-sm-6 col-form-label">Fecha de Pago</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{tipoBeneficiario}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('tipoBeneficiario')}"
											th:errors="*{tipoBeneficiario}"></small> <label
											class="col-sm-6 col-form-label">Tipo de Beneficiario</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{municipio}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('municipio')}"
											th:errors="*{municipio}"></small> <label
											class="col-sm-12 col-form-label">Delegación o
											Municipio</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{tipoAfiliacion}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('tipoAfiliacion')}"
											th:errors="*{tipoAfiliacion}"></small> <label
											class="col-sm-6 col-form-label">Tipo de Afiliación</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" th:field="*{cuota}" class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('cuota')}" th:errors="*{cuota}"></small>
										<label class="col-sm-6 col-form-label">Cuota</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-12">
									<div class="form-label-group">
										<input type="text" th:field="*{comentarios}"
											class="form-control"
											th:errorclass="'form-control alert-danger'" /><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('comentarios')}"
											th:errors="*{comentarios}"></small> <label
											class="col-sm-6 col-form-label">Observaciones</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-3">
								<button type="submit" name="crearAfiliado"
									class="btn btn-primary btn-xs">Crear Afiliado</button>
							</div>
							<div class="col-sm-6">
								<button type="submit" name="agregarBeneficiario"
									class="btn btn-primary btn-xs">Agregar Beneficiario</button>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>

	<footer th:replace="/layout/layout :: footer"></footer>


</body>

</html>
