<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8"/>

<body>
<div class="page-wrapper">
    <!-- Page Top Bar Area -->
    <div th:replace="fragments/header :: header"></div>
    <div class="layout-container-area mt-70">
        <!-- Side Menu Area -->
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- Layout Container -->
        <div class="layout-container sidemenu-container">
            <div class="container-fluid">
                <div class="row ">

                    <div class="col-md mb-4">
                        <!-- Card Body -->
                        <div class="card-body bg-white appwork bg-boxshadow-2">
                            <h5 class="card-title">Detalle del Afiliado</h5>

                            <div class="clearfix"></div>


                            <div class="tabs-left">
                                <!-- Nav Tabs -->
                                <ul class="nav nav-tabs">
                                    <li><a class="nav-link active show" data-toggle="tab" href="#tab-1">Detalle</a>
                                    </li>
                                    <li th:if="${afiliado.isBeneficiario == false}"><a class="nav-link" data-toggle="tab" href="#tab-2">Beneficiarios</a></li>
                                </ul>
                                <!-- Tab Content -->
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active show">
                                        <!-- Panel Body -->
                                        <div class="panel-body tab">

                                            <h5 class="mt-15">Datos del Afiliado: [[${afiliado.nombre} + ' ' +
												${afiliado.apellidoPaterno} + ' ' + ${afiliado.apellidoMaterno}]]</h5>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label>Clave</label>
													<br>
													<label th:text="${afiliado.clave}">Clave</label>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label>Fecha de Nacimiento</label>
													<br>
													<label th:text="${afiliado.fechaNacimiento}">Fecha de Nacimiento</label>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label>Lugar de Nacimiento</label>
													<br>
													<label th:text="${afiliado.lugarNacimiento}">Lugar de Nacimiento</label>
                                                </div>

                                                <div class="form-group col-md-3">
                                                    <label>Estado Civil</label>
													<br>
													<label th:text="${afiliado.estadoCivil}">Estado Civil</label>
                                                </div>

												<div class="form-group col-md-3">
													<label>Ocupación</label>
													<br>
													<label th:text="${afiliado.ocupacion}">Ocupación</label>
												</div>

												<div class="form-group col-md-3">
													<label>Sexo</label>
													<br>
													<label th:text="${afiliado.sexo}">Sexo</label>
												</div>

												<div class="form-group col-md-3">
													<label>País</label>
													<br>
													<label th:text="${afiliado.pais}">País</label>
												</div>

                                            </div>

                                            <h5 class="mt-15">Otros datos</h5>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label>CURP</label>
													<br>
													<label th:text="${afiliado.curp}">CURP</label>
                                                </div>

                                                <div class="form-group col-md-3">
													<label>RFC</label>
													<br>
													<label th:text="${afiliado.rfc}">RFC</label>
                                                </div>

												<div class="form-group col-md-3">
													<label>NSS</label>
													<br>
													<label th:text="${afiliado.nss}">NSS</label>
												</div>

												<div class="form-group col-md-3">
													<label>Teléfono Fijo</label>
													<br>
													<label th:text="${afiliado.telefonoFijo}">Teléfono Fijo</label>
												</div>

												<div class="form-group col-md-3">
													<label>Teléfono Móvil</label>
													<br>
													<label th:text="${afiliado.telefonoMovil}">Teléfono Móvil</label>
												</div>

												<div class="form-group col-md-3">
													<label>Dirección</label>
													<br>
													<label th:text="${afiliado.direccion}">Dirección</label>
												</div>

												<div class="form-group col-md-3">
													<label>Municipio o Delegación</label>
													<br>
													<label th:text="${afiliado.municipio}">Municipio o Delegación</label>
												</div>

												<div class="form-group col-md-3">
													<label>Código Postal</label>
													<br>
													<label th:text="${afiliado.codigoPostal}">Código Postal</label>
												</div>

												<div class="form-group col-md-3">
													<label>Estado</label>
													<br>
													<label th:text="${afiliado.entidadFederativa}">Estado</label>
												</div>

												<div class="form-group col-md-3">
													<label>Fecha de Afiliación</label>
													<br>
													<label th:text="${afiliado.fechaAfiliacion}">Fecha de Afiliación</label>
												</div>

												<div class="form-group col-md-3">
													<label>Fecha de Corte</label>
													<br>
													<label th:text="${afiliado.fechaCorte}">Fecha de Corte</label>
												</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-2" class="tab-pane">
                                        <!-- Panel Body -->
                                        <div class="panel-body tab">

                                            <h5 class="mt-15">Datos del Beneficiario</h5>
                                            <div class="clearfix"></div>

                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        Nombre
                                                    </th>
                                                    <th class="text-center">
                                                        Apellido Paterno
                                                    </th>
                                                    <th class="text-center">
                                                        Apellido Materno
                                                    </th>
                                                    <th class="text-center">
                                                        Clave
                                                    </th>
                                                    <th class="text-center">
                                                        RFC
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="beneficiario : ${beneficiarios}">
                                                    <td class="text-center">
														<label th:text="${beneficiario.nombre}">Nombre</label>
                                                    </td>
                                                    <td class="text-center">
														<label th:text="${beneficiario.apellidoPaterno}">Apellido Paterno</label>
                                                    </td>
                                                    <td class="text-center">
														<label th:text="${beneficiario.apellidoMaterno}">Apellido Materno</label>
                                                    </td>
                                                    <td class="text-center">
														<label th:text="${beneficiario.clave}">Clave</label>
                                                    </td>
                                                    <td class="text-center">
														<label th:text="${beneficiario.rfc}">RFC</label>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
							<div th:if="${afiliado.isBeneficiario} == false" class="row">
								<div class="col-sm-12">
									<a class="btn btn-primary btn-square float-right"
									   th:href="@{/beneficiarios/crear/} + ${afiliado.id}"
									   th:text="'Crear Beneficiario'"></a>
								</div>
							</div>
                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>

</div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>