<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="page-wrapper">
		<!-- Page Top Bar Area -->
		<div th:replace="fragments/header :: header"></div>
		<div class="layout-container-area mt-70">
			<!-- Side Menu Area -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- Layout Container -->
			<div class="layout-container sidemenu-container">

				<div class="container-fluid">
					<div class="row ">

						<div class="col-md mb-4">
							<!-- Card Body -->
							<div class="card-body bg-white appwork bg-boxshadow-2">
								<h5 class="card-title">Afiliados</h5>
								<div class="card-subtitle text-muted">Lista de
									afiliados activos de la plantilla Prosesol</div>

								<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
									th:href="@{/afiliados/crear}"
									class="btn m-2 rounded-0 btn-sm btn-primary"><i
									class="fas fa-user-plus"> </i> Nuevo Afiliado</a>

								<div class="clearfix"></div>
								<hr>

								<div>
									<table id="afiliados"
										class="table table-bordered">
										<thead>
											<tr>
												<th>Opciones</th>
												<th>Nombre Completo</th>
												<th>Clave</th>	
												<th>Saldo</th>																
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>

					</div>

				</div>


			</div>

		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>