<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="layout/layout :: head"></head>

<body id="page-top">
	<header th:replace="layout/layout :: header"></header>
	
	

	<div id="wrapper">
		<ul th:replace="layout/layout :: sidebar"></ul>
		<div id="content-wrapper">
		<nav th:replace="layout/layout :: nav-bar"></nav>
			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/crear}">Crear
							Afiliado</a></li>
					<li class="breadcrumb-item active">Tables</li>
				</ol>

				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i> Afiliados
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th sec:authorize="hasRole('ROLE_USER')">Id</th>
										<th>Nombre</th>
										<th>Apellido Paterno</th>
										<th>Apellido Materno</th>
										<th>CURP</th>
										<th>RFC</th>
										<th>NSS</th>
										<th>Email</th>
										<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th sec:authorize="hasRole('ROLE_USER')">Id</th>
										<th>Nombre</th>
										<th>Apellido Paterno</th>
										<th>Apellido Materno</th>
										<th>CURP</th>
										<th>RFC</th>
										<th>NSS</th>
										<th>Email</th>
										<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="afiliado : ${afiliado}">
										<td sec:authorize="hasRole('ROLE_USER')" th:text="${afiliado.id}"></td>
										<td th:text="${afiliado.nombre}"></td>
										<td th:text="${afiliado.apellidoPaterno}"></td>
										<td th:text="${afiliado.apellidoMaterno}"></td>
										<td th:text="${afiliado.curp}"></td>
										<td th:text="${afiliado.rfc}"></td>
										<td th:text="${afiliado.nss}"></td>
										<td th:text="${afiliado.email}"></td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs"
											th:href="@{/crear/} + ${afiliado.id}" th:text="'editar'"></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="card-footer small text-muted">Updated yesterday
						at 11:59 PM</div>
				</div>

				<p class="small text-center text-muted my-5">
					<em>More table examples coming soon...</em>
				</p>

			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<footer th:replace="/layout/layout :: footer"></footer>

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>


	</div>
</body>

</html>
