<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
	
	<header th:replace="fragments/header :: header"></header>	
	<div class="app-body">
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<main class="main">

		<ol class="breadcrumb">
			<li class="breadcrumb-item active">Home</li>
			<li class="breadcrumb-item active">Catálogos</li>
			<li class="breadcrumb-item active">Afiliados</li>
		</ol>
		
		<!-- <div th:replace="fragments/navbar :: div-messages"></div> -->

		<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">						
						<div th:replace="fragments/navbar :: div-messages"></div>
							<div class="card-header">Afiliados</div>							
							<div class="card-body">
								<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
									th:href="@{/afiliados/crear}"
									class="btn btn-square btn-primary btn-sm"><i
									class="fas fa-user-plus"></i> Nuevo Afiliado</a>
								<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
									th:href="@{/afiliados/descargar}"
									class="btn btn-square btn-success btn-xs float-right"><i
									class="fas"></i>XSLX</a>
								<div class="clearfix"></div>
								<hr>

								<div class="row">
									<div class="col-md-12">

										<table id="dataTable" class="table table-striped table-bordered" 
											style="width:100%">
											<thead>
												<tr>
													<th sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Id</th>
													<th>Clave Afiliado</th>
													<th>Nombre</th>
													<th>Apellido Paterno</th>
													<th>Apellido Materno</th>
													<th>Tipo de afiliado</th>
													<th>Estatus</th>
													<th>Detalle Afiliación</th>
													<th>Servicio</th>
													<th>Saldo acumulado</th>
													<th>Saldo al Corte</th>
													<th>Fecha de Afiliación</th>
													<th>Fecha de corte</th>
													<th>Periodo</th>
													<th>Email</th>
													<th sec:authorize="hasRole('ROLE_ADMINISTRADOR')"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:switch="${afiliado.estatus}"
													th:each="afiliado : ${afiliados}">
													<td sec:authorize="hasRole('ROLE_ADMINISTRADOR')"><a
														class="btn btn-primary btn-sm"
														th:href="@{/afiliados/detalle/} + ${afiliado.id}"
														th:text="${afiliado.id}"></a></td>
													<td th:text="${afiliado.clave}"></td>
													<td th:text="${afiliado.nombre}"></td>
													<td th:text="${afiliado.apellidoPaterno}"></td>
													<td th:text="${afiliado.apellidoMaterno}"></td>
													<td th:if="${afiliado.isBeneficiario}">Beneficiario</td>
													<td th:unless="${afiliado.isBeneficiario}">Titular</td>
													<td th:case="1" style="color: #4a9252" th:text="Activo"></td>
													<td th:case="2" style="color: #ea3808" th:text="Inactivo"></td>
													<td th:case="3" style="color: #bbb63d " th:text="Candidato"></td>
													<td th:text="${not afiliado.isBeneficiario} ? ${#lists.size(afiliado.beneficiarios)} : ${afiliado.nombre}"></td>
													<td th:text="${afiliado.servicio.nombre}"></td>
													<td th:text="${afiliado.saldoAcumulado}"></td>
													<td th:text="${afiliado.saldoCorte}"></td>
													<td th:text="${afiliado.fechaAfiliacion}"></td>
													<td th:if="${afiliado.isBeneficiario}">N/A</td>
													<td th:unless="${afiliado.isBeneficiario}" style="color: #ea3808" th:text="${afiliado.fechaCorte}"></td>													
													<td th:if="${afiliado.isBeneficiario}">N/A</td>
													<td th:unless="${afiliado.isBeneficiario}" th:text="${afiliado.periodicidad.nombre}"></td>													
													<td th:text="${afiliado.email}"></td>
													<td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
														<div class="dropdown">
												<button class="btn btn-primary btn-sm dropdown-toggle"
																type="button" id="dropdownMenuButton"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">Opciones</button>
															<div class="dropdown-menu animated--fade-in"
																aria-labelledby="dropdownMenuButton">
																<a class="dropdown-item"
																	th:href="@{/afiliados/editar/} + ${afiliado.id}"
																	th:text="'Editar'"> </a> <a class="dropdown-item"
																	th:href="@{/afiliados/eliminar/} + ${afiliado.id}"
																	th:text="'Borrar'"
																	onclick="return confirm('¿Estás seguro de que deseas borrar el registro?')">
																</a> 
																<a class="dropdown-item"
																	th:href="@{/beneficiarios/crear/} + ${afiliado.id}"
																	th:if="${not afiliado.isBeneficiario}">Agregar
																	Beneficiario </a>
																<a class="dropdown-item"
																   th:href="@{/afiliados/ver/} + ${afiliado.id}"
																   th:if="${afiliado.estatus == 3}" th:text="Activar"></a>
																<a class="dropdown-item"
																   th:href="@{/afiliados/ver/} + ${afiliado.id}"
																   th:if="${afiliado.estatus == 2}" th:text="Activar"></a>	
																<a class="dropdown-item"
																   th:href="@{/afiliados/ver/} + ${afiliado.id}"
																   th:if="${afiliado.estatus == 1}" th:text="Desactivar"></a>																
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>