<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="tBeneficios" class="d-none">
		<div id="rowBeneficios">
			<div class="form-group col-md-3">
				<label for="user">Lista de beneficios</label> <select
					name="beneficio[]" class="custom-select">
					<option value="">Seleccione una opción</option>
					<option th:each="beneficio : ${lBeneficios}"
						th:value="${beneficio.id}" th:text="${beneficio.nombre}"
						th:selected="false" />
				</select>
			</div>
			<div class="form-group col-md-3">
				<label>Descripcion</label> <input type="text"
					class="form-control form-control-user" name="descripcion[]">
			</div>
			<div class="form-group col-md-3">
				<label>Costo</label> <input type="text"
					class="form-control form-control-user" name="costo[]" value="0.00">
			</div>
			<div class="form-group col-md-3">
				<button type="button"
					class="btn btn-primary rounded-circle removeRow"
					style="position: absolute; top: 30px; left: 30px;">
					<i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
	</div>

</body>