<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="tBeneficios" class="d-none">
		<div style="display: none">
			<table id="tBeneficiosHidden">
				<tr id=""
					th:each="relBeneficio, iterStat : ${relServicioBeneficios}">
					<td><span class="sn"></span>.</td>
					<td><input type="checkbox"
						th:name="|relServicioBeneficios[${iterStat.index}].beneficio.id|"
						th:value="${relBeneficio.getBeneficio().getId()}">
					</td>
					<td><select
						name="|relServicioBeneficios[${iterStat.index}].beneficio.id|"
						class="custom-select">
							<option value="">Seleccione una opción</option>
							<option th:each="beneficio : ${lBeneficios}"
								th:value="${beneficio.id}" th:text="${beneficio.nombre}"
								th:selected="false" />
					</select></td>
					<td><input type="text" class="form-control form-control-user"
						th:name="|relServicioBeneficios[${iterStat.index}].descripcion|"
						th:value="${relBeneficio.getDescripcion()}"></td>
					<td><input type="text" class="form-control form-control-user"
						th:name="|relServicioBeneficios[${iterStat.index}].costo|"
						th:value="${relBeneficio.getCosto()}" value="0.00"></td>
					<td>
						<button type="button"
							class="btn btn-primary rounded-circle removeRow" data-id="1">
							<i class="fa fa-minus"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>