<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="tBeneficios" class="d-none">
		<div style="display: none">
			<table id="tBeneficiosHidden">
				<tr id="" th:each="relBeneficio, iterStat : ${relServiciosBeneficios}">
					<td><span class="sn"></span>.</td>
					<td><select name="beneficio[]" class="custom-select">
							<option value="">Seleccione una opción</option>
							<option th:field="*{relServicioBeneficio}"
								th:each="beneficio : ${lBeneficios}" th:value="${beneficio.id}"
								th:text="${beneficio.nombre}" th:selected="false" />
					</select></td>
					<td><input type="text" class="form-control form-control-user"
						name="descripcion[]"></td>
					<td><input type="text" class="form-control form-control-user"
						name="costo[]" value="0.00"></td>
					<td>
						<button type="button"
							class="btn btn-primary rounded-circle removeRow" data-id="1">
							<i class="fa fa-minus"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>