<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="page-wrapper">
		<!-- Page Top Bar Area -->
		<div th:replace="fragments/header :: header"></div>
		<div class="layout-container-area mt-70">
			<!-- Side Menu Area -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- Layout Container -->
			<div class="layout-container sidemenu-container">
				<div class="container-fluid">
					<div class="row ">

						<div class="col-md mb-4">
							<!-- Card Body -->
							<div class="card-body bg-white appwork bg-boxshadow-2">
								<h5 class="card-title">Crear Promotor</h5>

								<div class="clearfix"></div>
								<hr>

								<form class="user" th:action="@{/promotores/crear}"
									th:object="${promotor}" method="post">
									<div class="row">
																				
										<div class="form-group col-md-4">
											<label >Nombre</label>
											<input type="text"
												th:field="*{nombre}"
												class="form-control form-control-user">
											<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
										</div>
										
										<div class="form-group col-md-4">
											<label >Apellido Paterno</label>
											<input type="text"
												th:field="*{apellidoPaterno}"
												class="form-control form-control-user">
										</div>
										
										<div class="form-group col-md-4">
											<label >Apellido Materno</label>
											<input type="text"
												th:field="*{apellidoMaterno}"
												class="form-control form-control-user">
										</div>
										
										<div class="form-group col-md-4">
											<label >Edad</label>
											<input type="text"
												th:field="*{edad}"
												class="form-control form-control-user">
										</div>
										
										<div class="form-group col-md-4">
											<label >Correo Electrónico</label>
											<input type="email"
												th:field="*{email}"
												class="form-control form-control-user" required>
										</div>
										
										<div class="form-group col-md-4">
											<label >Clave</label>
											<input type="text"
												th:field="*{clave}"
												class="form-control form-control-user">
										</div>

										<div class="form-group col-md-3">
											<label>Empresa</label> <select name="empresa"
																		th:field="*{empresa}" class="form-control"
																		id="inputGroupSelect01">
											<option th:each="empresa : ${empresas}" th:value="${empresa.id}"
													th:text="${empresa.nombre}" th:selected="false" />
										</select> <small class="form-text text-danger"
														 th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"></small>
										</div>
									</div>

									<hr>
									<div class="clearfix"></div>
									<div class="row">
										<div class="col-sm-12">
											<button type="submit"
												class="btn btn-primary btn-square float-right">Crear Promotor</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>

				</div>


			</div>

		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>