<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="fragments/head :: head"></head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">	
	
	<header th:replace="fragments/header :: header"></header>
	
	<div class="app-body">
		<div th:replace="fragments/sidebar :: sidebar"></div>
		
		<main class="main">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item">Catálogos</li>
			<li class="breadcrumb-item active">Promotores</li>
		</ol>
		
	<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">Promotores</div>
							<div class="card-body">
								<h5 class="m-0 font-weight-bold text-primary">Editar promotor</h5>
								

								<div class="clearfix"></div>
								<hr>
						<form class="user" th:action="@{/promotores/crear}"
							th:object="${promotor}" method="post">
							<div class="form-group row">
								<div class="col-sm-6 mb-3 mb-sm-0">
									<input type="text" th:field="*{nombre}"
										class="form-control form-control-user" placeholder="Nombre">
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
								</div>
								<div class="col-sm-6">
									<input type="text" th:field="*{apellidoPaterno}"
										class="form-control form-control-user"
										placeholder="Apellido Paterno"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="*{apellidoPaterno}"></small>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-6 mb-3 mb-sm-0">
									<input type="text" th:field="*{apellidoMaterno}"
										class="form-control form-control-user"
										placeholder="Apellido Materno"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('apellidoMaterno')}"
										th:errors="*{apellidoMaterno}"></small>
								</div>
								<div class="col-sm-6">
									<input type="text" th:field="*{fechaAlta}"
										class="form-control form-control-user" id="datepicker"
										placeholder="Fecha de Alta"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('fechaAlta')}"
										th:errors="*{fechaAlta}"></small>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-6 mb-3 mb-sm-0">
									<input type="text" th:field="*{edad}"
										class="form-control form-control-user" placeholder="Edad">
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small>
								</div>
								<div class="col-sm-6">
									<input type="email" th:field="*{email}"
										class="form-control form-control-user"
										placeholder="Correo electrónico"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
								</div>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-primary btn-user btn-block" name="crearPromotor"
									value="Guardar cambios">
							</div>
						</form>
				
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
		</div>
	
	<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>