<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
<div class="page-wrapper">
    <!-- Page Top Bar Area -->
    <div th:replace="fragments/header :: header"></div>
    <div class="layout-container-area mt-70">
        <!-- Side Menu Area -->
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- Layout Container -->
        <div class="layout-container sidemenu-container">
            <div class="container-fluid">
                <div class="row ">

                    <div class="col-md mb-4">
                        <!-- Card Body -->
                        <div class="card-body bg-white appwork bg-boxshadow-2">
                            <div th:replace="fragments/navbar :: div-messages"></div>
                            <h5 class="card-title">Pagos</h5>
                            <div class="card-subtitle text-muted">Lista de pagos realizados</div>

                            <div class="clearfix"></div>
                            <hr>

                            <div class="row">
                                <table class="table-bordered" id="dataTable" style="width:100%;margin: 0 auto;" >
                                    <thead>
                                    <tr style=" text-align: center;">
                                        <th>RFC</th>
                                        <th>Nombre Completo</th>
                                        <th>Servicio</th>
                                        <th>Cuenta Comercial</th>
                                        <th>Monto</th>
                                        <th>Referencia Bancaria</th>
                                        <th>Fecha de Pago</th>
                                        <th>Forma de pago</th>
                                        <th>Estatus</th>
                                        <th>Clave Transacción</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style=" text-align: center;" th:each="pago : ${pagos}"
                                        >
                                        <td th:text="${pago[0]}"></td>
                                        <td th:text="${pago[7]} +' '+${pago[8]} + ' '+${pago[9]} "></td>
                                        <td th:text="${pago[10]}"></td>
                                        <td th:text="${pago[11]}"></td>
                                        <td th:text="${#numbers.formatDecimal(pago[1], 0, 2)}"></td>
                                        <td th:text="${pago[2]}"></td>
                                        <td th:text="${pago[3]}"></td>
                                        <td th:text="${pago[4]}"></td>
                                        <td th:text="${pago[5]}"></td>
                                        <td th:text="${pago[6]}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>