<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/fh-3.1.3/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.css" />
   
</head>
<meta charset="utf-8" />
<body>
<div class="page-wrapper">
    <!-- Page Top Bar Area -->
    <div th:replace="fragments/header :: header"></div>
    <div class="layout-container-area mt-70">
        <!-- Side Menu Area -->
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <!-- Layout Container -->
        <div class="layout-container sidemenu-container">
            <div class="container-fluid">
                <div class="row ">

                    <div class="col-md mb-4">
                        <!-- Card Body -->
                        <div class="card-body bg-white appwork bg-boxshadow-2">
                            <div th:replace="fragments/navbar :: div-messages"></div>
                            <h5 class="card-title">Pagos</h5>
                            <div class="card-subtitle text-muted">Lista de pagos realizados</div>

                            <div class="clearfix"></div>
                            <hr>
							<form th:action="@{/pagos/buscar}" method="post" id="formBusquedaPagos">
								<div class="row">
									<div class="form-group col-md-3">
										<label >Fecha Inicial</label> <input type="text" id="fechaInicial"
											name="fechaInicial" placeholder="DD/MM/YYYY" required="required" autocomplete="off" class="form-control form-control-user">
									</div>
									<div class="form-group col-md-3">
										<label >Fecha Final</label> <input type="text" id="fechaFinal"
											name="fechaFinal" placeholder="DD/MM/YYYY" required="required" autocomplete="off" class="form-control form-control-user">
									</div>
									<div class="form-group col-md-3">
											<label>Forma de Pago</label> <select
												name="formaPago" class="form-control"
												id="formaPago">
												<option th:value="'seleccionar'" th:selected>Seleccionar</option>
												<option th:value="'Conciliacion'">Conciliación</option>
												<option th:value="'Pago con tarjeta'">Pago con tarjeta</option>
												<option th:value="'Moneygram'">Moneygram</option>
												<option th:value="'Referencia en tienda'">Referencia en tienda</option>
											</select>
										</div>
										<div class="clearfix"></div>

									<div class="col-sm-12 pull-right">
										<button type="submit" id="busqueda"
											class="btn btn-primary btn-square float-right">Buscar</button>
									</div>
									</div>
							</form>
							<div class="clearfix"></div>
							<hr>
							
                            <div class="row"  th:if="${pagos!=null and !pagos.empty}">
                                <table class="table-bordered" id="dataTablePagos" style="width:100%;margin: 0 auto;" >
                                    <thead>
                                    <tr style=" text-align: center;">
                                        <th>RFC</th>
                                        <th>Nombre Completo</th>
                                        <th>Servicio</th>
                                        <th>Cuenta Comercial</th>
                                        <th>Monto</th>
                                        <th>Referencia Bancaria</th>
                                        <th>Fecha de Pago</th>
                                        <th>Forma de pago</th>
                                        <th>Estatus</th>
                                        <th>Clave Transacción</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style=" text-align: center;" th:each="pago : ${pagos}"
                                        >
                                        <td th:text="${pago[0]}"></td>
                                        <td th:text="${pago[7]} +' '+${pago[8]} + ' '+${pago[9]} "></td>
                                        <td th:text="${pago[10]}"></td>
                                        <td th:text="${pago[11]}"></td>
                                        <td th:text="${#numbers.formatDecimal(pago[1], 0, 2)}"></td>
                                        <td th:text="${pago[2]}"></td>
                                        <td th:text="${pago[3]}"></td>
                                        <td th:text="${pago[4]}"></td>
                                        <td th:text="${pago[5]}"></td>
                                        <td th:text="${pago[6]}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<!-- datatable lalo apbox  -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>	
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/fh-3.1.3/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>
		
</body>

</html>