<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="page-wrapper">
		<!-- Page Top Bar Area -->
		<div th:replace="fragments/header :: header"></div>
		<div class="layout-container-area mt-70">
			<!-- Side Menu Area -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- Layout Container -->
			<div class="layout-container sidemenu-container">
				<div class="container-fluid">
					<div class="">
						<div class="card-body bg-white appwork bg-boxshadow-2">
						<div th:replace="fragments/navbar :: div-messages"></div>
							<h5 class="card-title">Buscar Afiliado</h5>
							<div class="card-subtitle text-muted">Captura la
								información del afiliado para crear una nueva incidencia</div>
							<div class="clearfix"></div>
							<hr>


							<form th:action="@{/incidencias/resultado}" method="post">
								<div class="row">
									<div class="form-group col-md-3">
										<label >Nombre</label> <input type="text"
											name="campos[]" class="form-control ">
									</div>

									<div class="form-group col-md-3">
										<label >Apellido Paterno</label><input
											type="text" name="campos[]" class="form-control ">
									</div>

									<div class="form-group col-md-3">
										<label >Apellido Materno</label> <input
											type="text" name="campos[]" class="form-control ">
									</div>

									<div class="clearfix"></div>

									<div class="form-group col-md-3">
										<label >RFC</label> <input type="text"
											name="campos[]" class="form-control ">
									</div>

									<div class="form-group col-md-3">
										<label >Teléfono</label> <input type="text"
											name="campos[]" class="form-control ">
									</div>

									<div class="form-group col-md-3">
										<label >Clave del asociado</label> <input
											type="text" name="campos[]" class="form-control ">
									</div>


									<div class="clearfix"></div>

									<div class="col-sm-12 pull-right">
										<button type="submit"
											class="btn btn-primary btn-square float-right">Buscar</button>
									</div>
								</div>
							</form>

						</div>

					</div>

				</div>


			</div>

		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>