<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
	<header th:replace="fragments/header :: header"></header>
	<div class="app-body">
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<main class="main">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item">Incidencias</li>
			<li class="breadcrumb-item active">Editar</li>
		</ol>

		<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">Editar Incidencia <b style="float:right">Servicio: [[${afiliado.servicio.nombre}]]</b></div>
							<div class="card-body">
								<p>Captura la información solicitada para editar la incidencia para el Afiliado</p>
								<div class="clearfix"></div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<form class="user" th:action="@{/incidencias/guardar}"
											th:object="${incidencia}" method="post">
											<div class="row">
												<div class="form-group col-md-2">
													<label for="company">Nombre</label>
													<label th:text="${afiliado.nombre} + ' ' + ${afiliado.apellidoPaterno} + ' ' + ${afiliado.apellidoMaterno}">Nombre Completo</label>
												</div>

												<div class="form-group col-md-2">
													<label for="company">Teléfono Fijo</label>
													<br>
													<label th:text="${afiliado.telefonoFijo}">Teléfono Fijo</label>
												</div>

												<div class="form-group col-md-2">
													<label for="company">Teléfono Móvil</label>
													<br>
													<label th:text="${afiliado.telefonoMovil}">Teléfono Móvil</label>
												</div>

												<div class="form-group col-md-2">
													<label for="company">Clave</label>
													<br>
													<label th:text="${afiliado.clave}">Clave</label>
												</div>	
												
												<div class="form-group col-md-2">
													<label for="company">Estado</label>
													<br>
													<label th:text="${afiliado.entidadFederativa}">Estado</label>
												</div>

												<div class="form-group col-md-2">
													<label for="company">Municipio</label>
													<label th:text="${afiliado.municipio}">Municipio</label>
												</div>										
											</div>
											<div class="row">												

												<div class="form-group col-md-3">
													<label for="company">Fecha de Afiliacion</label> <input
														type="text" th:field="*{fecha}"
														class="form-control form-control-user escogerFecha" 
														placeholder="">
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Hora</label><input type="text" name="hora"
													 th:field="*{hora}" placeholder="hh:mm:ss"
														class="form-control form-control-user" >
												</div>
												
												<div class="form-group col-md-3">
														<label for="company">Localización</label><input type="text"
															th:field="*{localizacion}"
															class="form-control form-control-user" placeholder="">
													</div>												
												<div class="form-group col-md-3">
													<label for="company">Tipo de Incidencia</label> <select
														th:field="*{tipoIncidencia}" class="custom-select"
														id="inputGroupSelect01">
														<option value="">Opciones</option>
														<option th:value="'Cotización'" th:selected>Cotización</option>
														<option th:value="'Reembolso'">Reembolso</option>
														<option th:value="'Asistencia Médica'">Asistencia Médica</option>
														<option th:value="'Otros'">Otros</option>
													</select>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Detalle</label>
													<textarea th:field="*{detalle}">Capture el detalle de la incidencia</textarea>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Proveedor</label><input type="text"
														th:field="*{proveedor}"
														class="form-control form-control-user" placeholder="">
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Fecha de creación</label>
													<br>
													<label th:text="*{fechaCreacion}"></label>
												</div>
												
												<div class="form-group col-md-3">
													<label for="company">Estatus</label> <select
														th:field="*{estatus}" class="custom-select"
														id="inputGroupSelect01">
														<option th:each="status : ${estatusIncidencia}"
																th:value="${status.key}"
																th:text="${status.value}"
																th:selected="${status.key} == *{estatus}"/>
													</select>
												</div>
											</div>
											<div class="card">
												<div class="card-header">Beneficios</div>
												<div class="card-body">
													<p>Seleccione el/los beneficio(s)</p>
													<div class="clearfix"></div>
													<hr>
														<div class="row">
																	<div class="col-md-12">
																		<table class="table table-bordered" id="dataTable">
																			<thead>
																				<tr>																					
																					<th>Beneficios</th>
																					<th>Descripción</th>
																					<th></th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr th:each="beneficio, iterStat : ${relServicioBeneficio}">																					
																					<td>
																						<label th:text="${beneficio.getBeneficio().getNombre()}"></label>
																					</td>
																					<td>
																						<label th:text="${beneficio.getDescripcion()}"></label>
																					</td>
																					<td>
																						<input type ="checkbox" 
																							   th:name="|relServicioBeneficios[${iterStat.index}].beneficio.id|"
																							   th:value="${beneficio.getBeneficio().getId()}"
																							   th:checked="${beneficio.getBeneficio().getId()} == ${relServicioBeneficios[__${iterStat.index}__].beneficio.id}">
																					</td>
																				</tr>
																			</tbody>
																		</table>
																</div>																
															</div>
												</div>
											</div>
											<hr>
											<div class="clearfix"></div>
											<div class="row">
												<div class="col-sm-12">
													<button type="submit"
														class="btn btn-primary btn-square float-right">Editar
														Incidencia</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>