<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="page-wrapper">
		<!-- Page Top Bar Area -->
		<div th:replace="fragments/header :: header"></div>
		<div class="layout-container-area mt-70">
			<!-- Side Menu Area -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- Layout Container -->
			<div class="layout-container sidemenu-container">
				<div class="container-fluid">
					<div class="row ">

						<div class="card-body bg-white appwork bg-boxshadow-2">
							<h5 class="card-title">Resultados de búsqueda</h5>
							<div class="card-subtitle text-muted">Estas son las coincidencias que arrojó la búsqueda.</div>

							<div class="clearfix"></div>
							<hr>

							<div>
							<table class="table table-bordered" id="dataTable"
											width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Nombre Completo</th>
													<th>Teléfono Fijo</th>
													<th>Teléfono Móvil</th>
													<th>Clave</th>
													<th>Estado</th>
													<th>Municipio</th>
													<th>Servicio</th>
													<th>Estado de membresía</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr th:switch="${afiliado.estatus}"
													th:each="afiliado : ${afiliados}">
													<td th:text="${afiliado.nombre} + ' ' +${afiliado.apellidoPaterno} + ' ' + ${afiliado.apellidoMaterno}"></td>
													<td th:text="${afiliado.telefonoFijo}"></td>
													<td th:text="${afiliado.telefonoMovil}"></td>
													<td th:text="${afiliado.clave}"></td>
													<td th:text="${afiliado.entidadFederativa}"></td>
													<td th:text="${afiliado.municipio}"></td>
													<td th:text="${afiliado.servicio.nombre}"></td>
													<td th:case="1" style="color: #4a9252" th:text="Activo"></td>
													<td th:case="2" style="color: #ea3808" th:text="Inactivo"></td>
													<td th:case="3" style="color: #bbb63d " th:text="Candidato"></td>
													<td>
														<span th:if="${afiliado.estatus != 2}">
															<a th:href="@{/incidencias/crear/} + ${afiliado.id}"
														   	class="btn btn-square btn-primary btn-sm">
														   	Crear Incidencia</a>
														</span>
													</td>
												</tr>
											</tbody>
										</table>
							</div>
						</div>
						
						
					</div>
					
				</div>


			</div>

		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>
