<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
	<header th:replace="fragments/header :: header"></header>
	<div class="app-body">
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<main class="main">

		<ol class="breadcrumb">
			<li class="breadcrumb-item ">Home</li>
			<li class="breadcrumb-item ">Catálogos</li>
			<li class="breadcrumb-item active">Beneficios</li>
		</ol>

		<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-accent-primary">
						<div th:replace="fragments/navbar :: div-messages"></div>
							<div class="card-header">Beneficios</div>
							<div class="card-body">
								<a sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
									th:href="@{/beneficios/crear}"
									class="btn btn-square btn-primary btn-sm"><i
									class="fas fa-user-plus"></i> Nuevo Beneficio</a>
								<div class="clearfix"></div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th sec:authorize="hasRole('ROLE_ADMINISTRADOR')">Id</th>
										<th>Nombre</th>
										<th>Descripción</th>
										<th sec:authorize="hasRole('ROLE_ADMINISTRADOR')"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="beneficio : ${beneficios}">
										<td sec:authorize="hasRole('ROLE_ADMINISTRADOR')"
											th:text="${beneficio.id}"></td>
										<td th:text="${beneficio.nombre}"></td>
										<td th:text="${beneficio.descripcion}"></td>
										<td sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
											<div class="dropdown">
												<button class="btn btn-primary btn-sm dropdown-toggle"
													type="button" id="dropdownMenuButton"
													data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false">Opciones</button>
												<div class="dropdown-menu animated--fade-in"
													aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item"
														th:href="@{/beneficios/editar/} + ${beneficio.id}"
														th:text="'Editar'"> </a> <a class="dropdown-item"
														th:href="@{/beneficios/eliminar/} + ${beneficio.id}"
														th:text="'Borrar'"
														onclick="return confirm('¿Estás seguro de que deseas borrar el registro?')">Borrar
													</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>