<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="fragments/head :: head"></head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

	<header th:replace="fragments/header :: header"></header>

	<div class="app-body">
		<div th:replace="fragments/sidebar :: sidebar"></div>
		<main class="main">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item">Catálogos</li>
			<li class="breadcrumb-item active">Usuarios</li>
		</ol>
		<div class="container-fluid">

			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">Usuarios</div>
							<div class="card-body">
								<h5 class="m-0 font-weight-bold text-primary"> Nuevo usuario</h5>

								<div class="clearfix"></div>
								<hr>
								<form class="user" th:action="@{/usuarios/crear}"
							th:object="${usuario}" method="post">
							<div class="form-group row">
								<div class="col-sm-6 mb-3 mb-sm-0">
									<input type="text" th:field="*{nombre}"
										class="form-control form-control-user" placeholder="Nombre">
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
								</div>
								<div class="col-sm-6">
									<input type="text" th:field="*{username}"
										class="form-control form-control-user"
										placeholder="Nombre de usuario"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-6 mb-3 mb-sm-0">
									<select th:field="${perfiles}" class="custom-select">
			                         <option value=""> Perfil </option>
			                         <option th:each="perfil : ${perfiles}"
			                                 th:value="${perfil}"
			                                 th:text="${perfil.nombrePerfil}">
			                         </option>
			                    </select>
								</div>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-primary btn-user btn-block"
									value="Crear Usuario">
							</div>
						</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>