<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<body>
	<div class="page-wrapper">
		<!-- Page Top Bar Area -->
		<div th:replace="fragments/header :: header"></div>
		<div class="layout-container-area mt-70">
			<!-- Side Menu Area -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- Layout Container -->
			<div class="layout-container sidemenu-container">
				<div class="container-fluid">
					<div class="row ">

						<div class="col-md mb-4">
							<!-- Card Body -->
							<div class="card-body bg-white appwork bg-boxshadow-2">
								<h5 class="card-title">Crear Periodo</h5>

								<div class="clearfix"></div>
								<hr>

								<form class="user" th:action="@{/periodicidades/crear}"
									th:object="${periodicidad}" method="post">
									<div class="row">
										<div class="form-group col-md-4">
											<label for="company">Nombre*</label> <input type="text"
												th:field="*{nombre}" class="form-control form-control-user">
											<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
										</div>

										<div class="form-group col-md-4">
											<label for="company">Periodo</label> <select name="periodo"
												th:field="*{periodo}" class="custom-select"
												id="inputGroupSelect01">
												<option th:each="periodo : ${periodos}"
													th:value="${periodo}" th:text="${periodo}"
													th:selected="${periodo.MENSUAL}" />
											</select>
										</div>
									</div>

									<hr>
									<div class="clearfix"></div>
									<div class="row">
										<div class="col-sm-12">
											<button type="submit"
												class="btn btn-primary btn-square float-right">Crear
												Periodo</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>

				</div>


			</div>

		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>