<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="fragments/head :: head"></head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

	<header th:replace="fragments/header :: header"></header>

	<div class="app-body">
		<div th:replace="fragments/sidebar :: sidebar"></div>
		<main class="main">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item">Formatos</li>
			<li class="breadcrumb-item active">Correo</li>
		</ol>
		<div class="container-fluid">

			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">Formatos de correo</div>
							<div class="card-body">
								<h5 class="m-0 font-weight-bold text-primary">Crear formato</h5>

								<div class="clearfix"></div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<form class="user" th:action="@{/perfiles/crear}"
											th:object="${perfil}" method="post">
											<div class="row">
												<div class="form-group col-md-3">
													<label for="company">Nombre Perfil</label> <input type="text"
														th:field="*{nombre}"
														class="form-control form-control-user"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('nombre')}"
														th:errors="*{nombre}"></small>
												</div>
												<div class="form-group col-md-3">
													<label for="company">Descripción</label> <input type="text"
														th:field="*{descripcion}"
														class="form-control form-control-user"> <small
														class="form-text text-danger"
														th:if="${#fields.hasErrors('descripcion')}"
														th:errors="*{descripcion}"></small>
												</div>
												<div class="form-group col-md-3">
													<label for="company">Roles</label>
													<select	name ="roles" th:field="*{roles}" class="custom-select"
														id="inputGroupSelect01">
														<option th:each="roles : ${roles}"
															    th:value="${roles.id}"
															    th:text="${roles.nombre}"
															    th:selected="${roles.nombre}"/>
													</select>
													<small class="form-text text-danger"
														th:if="${#fields.hasErrors('roles')}"
														th:errors="*{roles}"></small>
												</div>
												<div class="form-group col-md-3">
													<label for="company">Estatus</label> <select
														th:field="*{estatus}" class="custom-select"
														id="inputGroupSelect01">
														<option th:value="'Estatus'" th:selected>Estatus</option>
														<option th:value="1">Activo</option>
														<option th:value="0">Inactivo</option>
													</select>
												</div>												
											</div>
											<div class="clearfix"></div>
											<div class="row">
												<div class="col-sm-12">
													<button type="submit"
														class="btn btn-primary btn-square float-right">Crear
														Perfil</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>