<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="fragments/head :: head"></head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">	
	
	<header th:replace="fragments/header :: header"></header>
	
	<div class="app-body">
		<div th:replace="fragments/sidebar :: sidebar"></div>
		
		<main class="main">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item">Catálogos</li>
			<li class="breadcrumb-item active">Membresías</li>
		</ol>
		
	<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">Membresías</div>
							<div class="card-body">
								<a sec:authorize="hasRole('ROLE_ADMIN')" 
								   th:href="@{/membresias/crear}"
								   class="btn btn-square btn-primary btn-sm"><i
								   class="fas fa-user-plus"></i> Crear membresía</a>

								<div class="clearfix"></div>
								<hr>

				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i> Catálogo de membresías
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th sec:authorize="hasRole('ROLE_USER')">Id</th>
										<th>Nombre</th>
										<th>Tipo de membresía</th>
										<th>Costo</th>
										<th>Estatus</th>
										<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th sec:authorize="hasRole('ROLE_USER')">Id</th>
										<th>Nombre</th>
										<th>Tipo de membresía</th>
										<th>Costo</th>
										<th>Estatus</th>
										<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="membresia : ${membresia}">
										<td sec:authorize="hasRole('ROLE_USER')"
											th:text="${membresia.id}"></td>
										<td th:text="${membresia.nombre}"></td>
										<td th:text="${membresia.tipoMembresia}"></td>
										<td th:text="${membresia.costo}"></td>
										<td th:text="${membresia.estatus}"></td>
										<td sec:authorize="hasRole('ROLE_ADMIN')">
											<div class="dropdown mb-4">
												<button class="btn btn-primary dropdown-toggle"
													type="button" id="dropdownMenuButton"
													data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false">Opciones</button>
												<div class="dropdown-menu animated--fade-in"
													aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item"
														th:href="@{/membresias/editar/} + ${membresia.id}"
														th:text="'Editar'"> </a> <a class="dropdown-item"
														th:href="@{/membresias/eliminar/} + ${membresia.id}"
														th:text="'Borrar'"
														onclick="return confirm('¿Estás seguro de que deseas borrar el registro?')">Borrar
													</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				
						</div>
					</div>
				</div>
			</div>
		</div>
		</main>
		</div>
	
	<footer th:replace="fragments/footer :: footer"></footer>

</body>

</html>