<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="layout/layout :: head"></head>

<body class="bg-gradient-primary">
	<header th:replace="layout/layout :: header"></header>
	<div id="wrapper">

		<ul th:replace="layout/layout :: sidebar"></ul>
		<div id="content-wrapper">

			<nav th:replace="layout/layout :: nav-bar"></nav>
			<div class="container-fluid">
				<h1 class="h3 mb-2 text-gray-800">Membresías</h1>
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a
						sec:authorize="hasRole('ROLE_ADMIN')"
						th:href="@{/membresias/crear}">Crear Membresía</a></li>
					<li class="breadcrumb-item active">Tables</li>
				</ol>

				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i> Catálogo de membresías
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th sec:authorize="hasRole('ROLE_USER')">Id</th>
										<th>Membresía</th>
										<th>Tipo de membresía</th>
										<th>Costo</th>
										<th>Estatus</th>
										<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th sec:authorize="hasRole('ROLE_USER')">Id</th>
										<th>Membresía</th>
										<th>Tipo de membresía</th>
										<th>Costo</th>
										<th>Estatus</th>
										<th sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="membresia : ${membresia}">
										<td sec:authorize="hasRole('ROLE_USER')"
											th:text="${membresia.id}"></td>
										<td th:text="${membresia.nombre}"></td>
										<td th:text="${membresia.tipoMembresia}"></td>
										<td th:text="${membresia.costo}"></td>
										<td th:text="${membresia.estatus}"></td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"><a
											class="btn btn-primary btn-xs"
											th:href="@{/membresias/crear/} + ${membresia.id}"
											th:text="'editar'"></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="card-footer small text-muted">
						Fecha de Actualización: <a
							th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></a>
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<footer th:replace="/layout/layout :: footer"></footer>

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

</body>

</html>
